<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/222ecaf1-432e-4807-8188-7c171d4c86e5/resourceGroups/jpMorganPizzeria_group/providers/Microsoft.Web/sites/jpMorganPizzeria</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jpmorganpizzeria.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>16df3e81-b54d-4137-965d-37be801b10a2</ProjectGuid>
    <PublishUrl>https://jpmorganpizzeria.scm.azurewebsites.net/</PublishUrl>
    <UserName>$jpMorganPizzeria</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>